
.o-grid {
    list-style: none;
    padding: 0;
    font-size: 0;
    margin-left: -$spacing-unit;
    margin-bottom: -$spacing-unit;
}

    .o-grid__item {
        display: inline-block;
        padding-left: $spacing-unit;
        padding-bottom: $spacing-unit;
        vertical-align: middle;
        width: 50%;
        @media (min-width: 500px) {
            width: 33.333%;
        }
        @media (min-width: 800px) {
            width: 25%;
        }
    }